# database stuff
#   master password for building stuff... possibly unnessicary...
MYSQL_DATABASE=ttttmediawiki
MYSQL_PASSWORD=**********
MYSQL_USER=root

#   database config
WG_DB_SERVER=mysql
WG_DB_NAME=ttttmediawiki
WG_DB_USER=wikiuser
WG_DB_PASSWORD=*************

#   misc server config
WG_SERVER=http://192.168.0.102:2001
WG_SITENAME=/tttt/ wiki
WG_METANAMESPACE=/tttt/_wiki
WG_SECRETKEY=**********************************************
WG_UPGRADEKEY=***********

#   skins
WG_DEFAULTSKIN=citizen
WG_DEFAULTMOBILESKIN=citizen